.header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.header-navlink {
  display: contents;
}
.header-image {
  height: 2rem;
  text-decoration: none;
}
.header-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-navlink1 {
  color: #ca4542;
  font-family: "DegularVar-TextSemibold";
  text-decoration: none;
}
.header-navlink2 {
  color: #ca4542;
  font-family: "DegularVar-TextSemibold";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-nav {
    display: none;
  }
  .header-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .header-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
}

.services-card-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.services-card-text1 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.services-card-image {
  width: 24px;
  height: 24px;
  object-fit: contain;
}


@media(max-width: 479px) {
  .services-card-root-class-name {
    flex: 1;
  }
  .services-card-root-class-name1 {
    flex: 1;
  }
}

.index-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.index-main {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-hero {
  height: 1444px;
  position: relative;
  padding-top: var(--dl-space-space-unit);
  background-color: #fae9e2;
}
.index-max-width {
  margin-top: var(--dl-space-space-threeunits);
}
.index-heading-container {
  flex: 1;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-text {
  color: rgb(202, 69, 66);
  width: auto;
  font-size: 56px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "DegularVar-TextSemibold";
  font-weight: 800;
  line-height: 70px;
  margin-bottom: var(--dl-space-space-halfunit);
  animation-name: fadeInUp;
  letter-spacing: 0.01em;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.index-text1 {
  color: #ca4542;
  font-size: 18px;
  text-align: center;
  line-height: 1.44;
  margin-bottom: var(--dl-space-space-twounits);
}
.index-gallery {
  width: 100%;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
}
.index-container1 {
  width: 25%;
  align-self: stretch;
}
.index-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  animation-name: fadeInUp;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.index-container2 {
  width: 25%;
  display: flex;
  grid-gap: 20px;
  align-items: stretch;
  flex-direction: column;
}
.index-image1 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  animation-name: fadeInDown;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.index-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  animation-name: fadeInUp;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.index-container3 {
  width: 50%;
  display: flex;
  grid-gap: 20px;
  flex-direction: column;
}
.index-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  animation-name: fadeInUp;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.index-container4 {
  width: 100%;
  display: flex;
  grid-gap: 20px;
}
.index-image4 {
  flex: 1;
  width: 448px;
  height: 435px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  animation-name: fadeInDown;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.index-services {
  display: flex;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-color: #ca4542;
}
.index-banner {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
  background-color: #fae9e2;
}
.index-max-width1 {
  flex-direction: column;
}
.index-heading-container1 {
  flex: 0 0 auto;
  width: 746px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
}
.index-text-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-text2 {
  color: #fae9e2;
  width: auto;
  font-size: 46px;
  font-family: "DegularVar-TextSemibold";
  font-weight: 400;
  line-height: 63px;
  margin-left: var(--dl-space-space-sixunits);
  animation-name: fadeInRight;
  letter-spacing: 0.01em;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.index-controls {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr;
}
.index-cards-container {
  width: auto;
  display: flex;
  grid-gap: 20px;
}
.index-navlink {
  display: contents;
}
.index-component1 {
  text-decoration: none;
}
.index-navlink1 {
  display: contents;
}
.index-component2 {
  text-decoration: none;
}
.index-navlink2 {
  display: contents;
}
.index-component3 {
  text-decoration: none;
}
.index-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.index-footer {
  width: auto;
  height: auto;
}
.index-text3 {
  color: #fae9e2;
  font-size: 20px;
  align-self: center;
  font-family: "DegularVar-TextSemibold";
}
@media(max-width: 991px) {
  .index-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .index-gallery {
    flex-direction: column;
  }
  .index-container1 {
    width: 100%;
  }
  .index-container2 {
    width: 100%;
    flex-direction: row;
  }
  .index-container3 {
    width: 100%;
    align-items: stretch;
  }
}
@media(max-width: 767px) {
  .index-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .index-image1 {
    height: 100%;
  }
  .index-container4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .index-image4 {
    width: 100%;
  }
  .index-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .index-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .index-text3 {
    text-align: center;
  }
}
